
.main-text {
  font-size: 96px;
  font-weight: bold;
  color: white;
}

.secondary-text {
  background: linear-gradient(0.25turn, #00ff9d, #ebf8e1, #cf5cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
v  
.btn{
    width: 191px;
    height: 56px;
    border:none;
    background-color: 00ff9d;
    font-size: 20px;
    text-transform: uppercase
}

.btn-container{
    padding-top: 5%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.b-text{
  color: #bd9ef0;
  font-size: large;
}

.basic-container{
  display: grid;
  border: #ffffff ;
  border-width: 5px;
  border-style:solid;
  justify-self: center;
  justify-content: center;
  width: 75%;
}

.item-container{
  display: grid;
  justify-content: center;
  justify-self: center;
  grid-template-rows: '5';
  row-gap: 0;
  width: 50%;

}

.all-container{
  display: grid;
  width: 100%;
  justify-content: 'center';
  justify-self: center;
}